
body{
    overflow: hidden;
}

.bubbles img{
    width:7px;
    animation: bubble 7s linear infinite;
}
.bubbles{
  width: 100%;
display:flex;
align-items:center;
justify-content:space-around;  
position:absolute;
bottom:-10px;


}

.bubbles img:nth-child(1){
   animation-delay: 2s;
   width: 10px;
}
.bubbles img:nth-child(2){
    animation-delay: .5s;
 }
 .bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 10px;
 }
 .bubbles img:nth-child(4){
    animation-delay: 5s;
 }
 .bubbles img:nth-child(5){
    animation-delay: 4s;
 }
 .bubbles img:nth-child(6){
    animation-delay: .25s;
    width: 10px;
 }
 .bubbles img:nth-child(7){
    animation-delay: 3s;
 }
 .bubbles img:nth-child(8){
    animation-delay: 2.5s;
    width: 10px;
 }
 .bubbles img:nth-child(9){
     animation-delay: 1s;
  }
  .bubbles img:nth-child(10){
     animation-delay: 3s;
     width: 10px;
  }
  .bubbles img:nth-child(11){
     animation-delay: 1s;
  }
  .bubbles img:nth-child(12){
     animation-delay: 4s;
  }
  .bubbles img:nth-child(13){
     animation-delay: 1s;
     width: 10px;
  }
  .bubbles img:nth-child(14){
     animation-delay: 2s;
  }

  /* delayed bubs */
  .bubbles img:nth-child(15){
    animation-delay: 5s;
    width: 10px;
 }
 .bubbles img:nth-child(16){
     animation-delay: 6s;
  }
  .bubbles img:nth-child(17){
     animation-delay: 3.1s;
     width: 10px;
  }
  .bubbles img:nth-child(18){
     animation-delay: 10s;
  }
  .bubbles img:nth-child(19){
     animation-delay: 3.7s;
  }
  .bubbles img:nth-child(20){
     animation-delay: 1.3s;
     width: 10px;
  }
  .bubbles img:nth-child(21){
     animation-delay: 4.7s;
  }
  .bubbles img:nth-child(22){
     animation-delay: 3s;
     width: 10px;
  }
  .bubbles img:nth-child(23){
      animation-delay: 7s;
   }
   .bubbles img:nth-child(24){
      animation-delay: 6s;
      width: 10px;
   }
   .bubbles img:nth-child(25){
      animation-delay: 1s;
   }
   .bubbles img:nth-child(26){
      animation-delay: 3s;
   }
   .bubbles img:nth-child(27){
      animation-delay: 6s;
      width: 10px;
   }
   .bubbles img:nth-child(28){
      animation-delay: 4s;
   }


@keyframes bubble {
    0%{
        transform: translateY(0);
        opacity:0;
    }
    50%{
        
        opacity:1;
    }
    70%{
        
        opacity:1;
    }
    100%{
        transform: translateY(-80vh);
        opacity:0;
    }
}